[Desktop Entry]
Type=Application
Name=Kestrel
GenericName=File Manager
Comment=Explorador de archivos de alto rendimiento para usuarios avanzados
Exec=Kestrel %f
Icon=kestrel
Categories=Utility;FileManager;System;
Terminal=false
StartupWMClass=Kestrel
MimeType=inode/directory;
